*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.env.development
.env.production

.cache
.sanity
node_modules
dist
site
css
_ignore

.netlify

netlify/*
!netlify/functions/

netlify/functions/*
!netlify/functions/preview/

netlify/functions/preview/*
!netlify/functions/preview/index.js
!netlify/functions/preview/src/
