.card {
  position: relative;

  a {
    color: currentColor;
    text-decoration: none;
  }

  a[href]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  img {
    aspect-ratio: 1.5;
    object-fit: cover;
  }
}
