[data-form] {
  > *,
  > * > * {
    width: 100%;
  }
  > * > * {
    display: block;
  }
  > [name="message"] {
    height: 150px;
  }
  main > &,
  section > & {
    max-width: 36rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid var(--c-border);
    padding: 0.5rem;
  }
  textarea {
    resize: vertical;
  }

  .required {
    position: relative;
    &::after {
      color: var(--c-white);
      content: 'required';
      font-size: 84%;
      position: absolute;
      top: 2px;
      right: 0;
    }
  }

  button {
    border: none;
    background-color: var(--c-accent);
    color: var(--c-white);
    filter: saturate(0.9);
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    transition: filter 0.2s;

    &:not(:disabled):hover {
      filter: saturate(1);
    }
    &:disabled {
      background-color: var(--c-border);
      cursor: not-allowed;
    }
  }

  .error-message {
    background-color: var(--c-accent);
    color: var(--c-white);
    font-weight: bold;

    &:not(:empty) {
      padding: 0.25em;
    }
  }

  .vh {
    max-width: 1rem;
  }

  // added by Netlify Forms at build time
  [type="hidden"] + * {
    margin-top: 0;
  }
}
