<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>PREVIEW: {{ page.title }}</title>
  </head>
  <body class="flex-full fd-c">
    <main tabindex="-1" id="main-content" class="flex fd-c f-1">
      {{ content }}
    </main>
  </body>
</html>
